<div id="navigation">
  <nav>
    <!-- <a href="/">Resume</a> -->
    <!-- <a href="/archives">Archive</a> -->
    <!-- <a href="/about">About</a> -->
    <a href="mailto:mail@jeffreylewis.me">Email</a>
    <a href="https://github.com/{{site.github_username}}">GitHub</a>
    <a href="https://twitter.com/{{site.twitter_username}}">Twitter</a>
    <a href="https://linkedin.com/in/{{site.linkedin_username}}">LinkedIn</a>
    <a target="_blank" rel="noopener noreferrer"
      href="./Jeff Lewis Resume.pdf">Resume</a>
    <!-- <a href="/feed.xml">RSS Feed</a> -->
  </nav>
</div>