<div id="sidebar">
  <nav>
    <ul>
      <li><a href="/">Resume</a></li>
      <!-- <li><a href="/archives">Archive</a></li> -->
      <!-- <li><a href="/about">About</a></li> -->
      <li>&nbsp</li>
      <li><a href="mailto:mail@jeffreylewis.me">Email</a></li>
      <li><a href="https://twitter.com/{{site.twitter_username}}">Twitter</a></li>
      <li><a href="https://linkedin.com/{{site.linkedin_username}}">LinkedIn</a></li>
      <!-- <li><a href="/feed.xml">RSS Feed</a></li> -->
    </ul>
  </nav>
</div>