video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

section {
  display: block;
}
body {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: $contentWidth;
  margin: auto;
}
ol,
ul {
  list-style: bullet;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Basics ***/
body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

a,
a:active,
a:visited {
  text-decoration: none;
  border-bottom: 1px solid #839496;
  padding-bottom: 2px;
}
a:hover {
  background-color: #839496;
  color: #000000;
}

p {
  margin-bottom: 15px;
}

ul {
  ol {
    padding: 0 0 18px 30px;
  }

  ol li,
  ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
small {
  font-size: 0.85em;
}
sup {
  vertical-align: super;
  font-size: 0.85em;
}
sub {
  vertical-align: sub;
  font-size: 0.85em;
}

code {
  font: 0.85em Monaco, Courier, Monospace;
}

blockquote {
  margin: 22px 22px;
  padding: 0 20px;
  border-left: 2px solid #000000;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
}

acronym,
abbr {
  cursor: help;
  letter-spacing: 1px;
  border-bottom: 1px dashed;
}

h1 {
  font-size: 26px;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 22px;
  margin: 0 0 10px 0;
}
h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
}
h4 {
  font-size: 12px;
  margin: 0 0 10px 0;
}

tr {
  border-bottom: 1px solid #2f3133;
}

.subtitle {
  display: flex;
  flex: 1;
  list-style-type: none;
  list-style: none;
  padding-inline-start: 0;
  justify-content: space-between;
  align-items: center;

  li {
    list-style-type: none;
    display: inline;
  }
}

/*** Useful Classes ***/
.clear {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.img-left {
  float: left;
  margin: 4px 10px 4px 0;
}
.img-right {
  float: right;
  margin: 4px 0 4px 10px;
}
.img-middle {
  vertical-align: middle;
}
.nopadding {
  padding: 0;
}
.nounderline {
  text-decoration: underline;
}

/*** Structure ***/
#page {
  margin: 0 auto;
  position: relative;
}

#header {
  margin: 3rem auto 1rem auto;

  h1 {
    font-size: 3rem;
    margin-bottom: 4px;
    a {
      border: none;
    }
  }
}

#footer {
  margin: 3rem auto 1rem auto;
  padding-top: 10px;
  font-size: 0.85em;
  border-top: 1px solid #073642;
}

#content {
  margin: 0 auto;
}

#navigation {
  margin: 0 auto 3rem auto;

  a {
    border: none;
    font-family: "Helvetica Neue", "Helvetica", serif;
    font-size: 1em;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
    // padding: 2px 4px;
  }

  li {
    list-style: none;
    margin: 2px 0;
  }
}

/*** Posts ***/
article {
  margin-bottom: 40px;

  h1 {
    font-size: 3rem;
    margin: 0 0 10px 0;

    &,
    img {
      display: block;
      text-align: center;
      margin: 0 auto 1em auto;
    }
    a,
    p {
      font-size: 20px;
    }

    a {
      border: none;

      &.anchor {
        margin-left: 8px;
      }
    }

    .meta {
      padding-top: 6px;
      font-size: 1rem;
      font-style: italic;
    }
  }
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
}
img.right {
  float: right;
  margin: 0 0 1em 1em;
}
img.center {
  display: block;
  text-align: center;
  margin: 0 auto 1em auto;
}

/*** Pagination ***/
.postnavigation {
  padding-top: 10px;
  text-align: center;
  font-size: 0.85em;
}

.postnavigation .left {
  float: left;
}

.postnavigation .right {
  float: right;
}

/*** Media Queries ***/
@media all and (max-width: 1100px) {
  #page,
  #header,
  #footer,
  #navigation {
    width: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #header {
    text-align: center;
  }

  #navigation {
    position: relative;
    text-align: left;
    // width: 100%;
    left: 0;
  }

  #navigation nav select.mnav {
    display: block;
    margin-bottom: 15px;
  }
}
